main {
  background-color: $dark-desaturated-blue;
  width: 60%;
  height: 49.5%;
  display: flex;
  border-radius: 1rem;
}

.left-side-of-card-text {
  width: 50%;
}

.right-side-of-card-image {
  width: 50%;
}
